html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.banner {
    background-color: #D17560; /* Example background color */
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed */
}

.banner-heading {
    color: #fff; /* Text color for the heading */
    margin: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows images to wrap onto the next line */
}

.image-container img {
   margin: 5px; /* Add some space between images */
}