@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lindsey G Creative</title>
    <link href="css/site.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <h2>Welcome!</h2>
    <p>
        Hello! My name is Lindsey and I love to create! I've loved painting, crafting, taking photos, and anything else creative since I was a little girl.
        When I'm not busy working or doing homework, you'll probably find me doing something with my family, working on an art project or on a hike. 
    </p>    
    <p>
        I hope you'll stick around for a second to take a look at some of my recent creative endeavors! Thanks for dropping by! &lt;3
    </p>
    <br />

    <h4>Digital Art</h4>
    <p>Here are a few digital art projects I've worked on.</p>
    <br />
    <div class="image-container">
        <img src="~/Vote.png" height="350" />
        <img src="~/IMG_0547.jpg" height="350" />
        <img src="~/metro.jpg" height="350" />
    </div>
    
    <br />
    <br />
    <br />
    
    <h4>Board Game and App</h4>
    <p>I created a board game and app duo for a school project. Here are the product pictures.</p>
    <br />
    <div class="image-container">
        <img src="~/IMG_0616.JPG" height="400" />
        <img src="~/IMG_0641 2.JPG" height="400" />
        <img src="~/IMG_0622.JPG" height="400" />
    </div>
    
    <br />
    <br />
    <br />

    <h4>Painting</h4>
    <p>I love to paint! I recently painted my first mural.</p>
    <br />
    <div class="image-container">
        <img src="~/book.JPG" height="400" />
        <img src="~/IMG_1178.jpeg" height="400" />
        <img src="~/IMG_9183.jpeg" height="400" />
    </div>
    <br />

    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
